name: "Provision Infrastructure"

on:
  push:

jobs:

  demo:
    name: "Demo"
    runs-on: ubuntu-latest
    steps:
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
        aws-region: us-east-1
        
    - name: Get the caller's identity
      run: |
        aws sts get-caller-identity

    - name: Describe the ec2 instances
      run: |
        aws ec2 describe-instances | cat
